<li class="message">
	<span class="message-user">
		<%= link_to(message.user.name, message.user) %>
	</span>
	<span class="body">
		<%= auto_link(h(message.body)) %>
	</span>
	<span class="weak">
		(sent <%= time_ago_in_words(message.created_at) %> ago in <%= link_to(message.group.name, message.group) %>)
	</span>
</li>