<div class="group-message-form">
	<% form_for [group, message] do |form| %>
		<%= form.error_messages %>
		<%= form.text_area :body %>
  	<%= form.submit "Post message", :class => 'button' %>
		<br />Send @ <%= form.datetime_select :send_at %>
	<% end %>
</div><br />

<script type="text/javascript">
	$(document).ready(function() {
	  $('#message_body').focus();
		$('#message_body').keyup(function() {
			if ($('#message_body').val().length > 140)
				$('#group-message-info').text('Reminder: Long messages may get cut off (Twitter and SMS). You\'re at ' + $('#message_body').val().length + ' characters.');
			else
				$('#group-message-info').text('');
		});
	 });
</script>