<li class="message">
	<span class="message-user">
		<%= link_to(message.user.name, message.user) %>
	</span>
	<span class="body">
		<%= message.body %>
	</span>
	<span class="weak">
		(<%= time_ago_in_words(message.created_at) %> ago)
	</span>
</li>