<div class="right">
	<% if @group.public? %>
		<span class="public">Public</span>
		<% if @group.admin?(current_user) %>
		<%= link_to('Lock', toggle_lock_group_path(@group)) %>
		<% end %>
	<% else %>
		<span class="private">Private</span>
		<% if @group.admin?(current_user) %>
		<%= link_to('Unlock', toggle_lock_group_path(@group)) %>
		<% end %>
	<% end %>
</div>