<div class="right">
	<% if @group.public? %>
		<span class="public">Open</span>
		<% if @group.admin?(current_user) %>
		<%= link_to('Close', toggle_lock_group_path(@group)) %>
		<% end %>
	<% else %>
		<span class="private">Closed</span>
		<% if @group.admin?(current_user) %>
		<%= link_to('Open', toggle_lock_group_path(@group)) %>
		<% end %>
	<% end %>
</div>