<div class="centered">
	<h2>We're sorry, this group is full.</h2>
	<div class="mt20">
		If the group owner upgrades this group to allow more members, you can try joining again later.
	</div>
	<%= link_to('Go back to the groups page', groups_path) %>
</div>