<div class="centered">
	<% if current_user %>
		<% if @group.requested_members.include?(current_user) %>
		<h2>You have requested to join this group.</h2>
		<div class="mt20 mb20">
			Once the group owner accepts this request you can participate in this group.
		</div>
		<%= link_to('Go back to your dashboard', dashboard_path) %>.
		<% else %>
		<h2>This group is private, but you can request to join it.</h2>
		<div class="mt20 mb20">
			Click the button below and we will send a request to the group's owner.<br/>
			If the owner accepts your request you will be allowed to join.
		</div>
		<%= link_to('', join_request_group_path(@group), :id => 'request-to-join') %>
		<% end %>
	<% else %>
		<h2>In order to join this group, you need to have a Publishur account.</h2>
		<div class="mt20 mb10">
			<%= link_to('', signup_path, :id => 'signup-button') %>
		</div>
		<div>
			Already have an account? <%= link_to('Sign in here', signin_path) %>.
		</div>
	<% end %>
</div>