<% pending ||= false %>
<li class="user">
	<%= link_to(user.name, user) %>
	<% if @group && @group.admin?(user) %>
		<strong>(owner)</strong>
	<% end %>
	<% if pending && @group.admin?(current_user) %>
		<% membership = @group.group_memberships.for_user(user).first %>
		(
		<%= link_to('allow', [@group, membership], :method => :put, :class => 'mr10') %> or
		<%= link_to('deny', [@group, membership], :method => :delete, :confirm => 'Are you sure you want to deny this user?') %>
		)
	<% end %>
</li>