<div class="centered">
	<h2>This is where you can update your settings.</h2>
	
	<div class="w400">
		<div class="shadowed-box">
			<% form_for current_user do |form| %>
				
			<% end %>
		</div>
	</div>
</div>