<% content_for :wide do %>
<div id="diagram">
	<%= image_tag('/images/diagram.gif') %>
</div>
<% end %>

<% if !current_user %>
<div class="lined-bottom mt20 pb30 centered">
	<%= link_to('', pricing_path, :id => 'signup-button') %>
</div>
<% end %>

<div class="lined-bottom mt20 pb30">
	<h1 class="centered mb30">Here's how it works</h1>
	<div class="third">
		<h2 class="centered mb5 strong">Step 1</h2>
		<p class="medium centered">You create a group.<br/>If it’s private, you invite others to join.  If it’s public, anyone can join.</p>
	</div>
	<div class="third">
		<h2 class="centered mb5 strong">Step 2</h2>
		<p class="medium centered">Everyone in the group chooses how they want to receive messages from other group members.</p>
	</div>
	<div class="third">
		<h2 class="centered mb5 strong">Step 3</h2>
		<p class="medium centered">When someone from the group sends a message, everyone else receives it via their preferred way!</p>
	</div>
	<div class="clear"></div>
	<div class="medium centered mt20 weak"><p>You can always view past messages using this site.</p></div>
</div>

<div class="mt30 pb50">
	<h1 class="centered mb30">Here are some examples</h1>
	<div class="w800 mt20">
		<p class="medium left-side-icon baseball-icon">
			<strong>John’s baseball game was cancelled and he needs to tell his teammates.</strong><br/>
			He sends a message to his Publishur baseball group.<br/>
			His teammate Bob gets a text message, Chris gets an email, and Mark gets an AIM chat message.<br/>
		</p>
		<p class="medium mt20 left-side-icon math-icon">
			<strong>Meg teaches a math class and wants to remind her students about their test.</strong><br/>
			She sends a message to her Publishur math class group.<br/>
			Her student Jan gets an email, Nick gets an AIM chat message, and Ann gets a text message.<br/>
		</p>
		<p class="medium mt20 left-side-icon video-game-icon">
			<strong>Paul wants to tell his online video game friends he's getting online to play.</strong><br/>
			He sends a message to his Publishur video game group.<br/>
			All of his buddies get the message via the method they've chosen.<br/>
		</p>
	</div>
</div>