<% content_for :wide do %>
<div id="diagram">
	<%= image_tag('/images/pricing-diagram.gif') %>
</div>
<% end %>

<% if !current_user %>
<div class="mt30 pb30 centered">
	<%= link_to('', signup_path, :id => 'signup-button') %>
</div>
<% end %>