<div class="centered big">Easy monthly pricing.</div>
<div class="centered">No setup fees. No hidden costs.</div>

<div class="pricing">
	<div class="title">Ultimate</div>
	<div class="price">
		<span class="dollar-sign">$</span>
		<span class="value">30</span>
		/ month
	</div>
	<div class="for-who">FOR BUSINESSES</div>
	<div class="features">
		<ul>
			<li class="feature"><strong>Unlimited</strong> groups</li>
			<li class="feature"><strong>Unlimited</strong> users per group</li>
			<li class="feature receive">
				Receive messages via:
				<ul>
					<li>Email</li>
					<li>AIM</li>
					<li>GoogleTalk</li>
					<li>SMS*</li>
					<li>Twitter</li>
				</ul>
			</li>
		</ul>
	</div>
	<%= link_to('', signup_ultimate_path, :class => 'signup-link') %>
</div>

<div class="pricing pro">
	<div class="title">Pro</div>
	<div class="price">
		<span class="dollar-sign">$</span>
		<span class="value">15</span>
		/ month
	</div>
	<div class="for-who">FOR TEAMS</div>
	<div class="features">
		<ul>
			<li class="feature"><strong>20</strong> groups</li>
			<li class="feature"><strong>Unlimited</strong> users per group</li>
			<li class="feature receive">
				Receive messages via:
				<ul>
					<li>Email</li>
					<li>AIM</li>
					<li>GoogleTalk</li>
					<li>SMS*</li>
					<li>Twitter</li>
				</ul>
			</li>
		</ul>
	</div>
	<%= link_to('', signup_pro_path, :class => 'signup-link') %>
</div>

<div class="pricing free">
	<div class="title">Free</div>
	<div class="price">
		<span class="dollar-sign">$</span>
		<span class="value">0</span>
		/ month
	</div>
	<div class="for-who">FOR ANYONE</div>
	<div class="features">
		<ul>
			<li class="feature"><strong>10</strong> groups</li>
			<li class="feature"><strong>10</strong> users per group</li>
			<li class="feature receive">
				Receive messages via:
				<ul>
					<li>Email</li>
					<li>AIM</li>
					<li>GoogleTalk</li>
					<li>SMS*</li>
					<li>Twitter</li>
				</ul>
			</li>
		</ul>
	</div>
	<%= link_to('', signup_path, :class => 'signup-link') %>
</div>
<div class="weak centered">
	* supports most providers
</div>