<div class="centered">
	<div class="tour-screenshot lined-bottom-dark pb40 mt20 mb40">
		<h2 class="big mb30">Search, browse, create, and join groups.</h2>
		<%= image_tag('/images/tour1.gif') %>
		
	</div>
	<div class="tour-screenshot lined-bottom pb40 mb40">
		<h2 class="big mb30">Send messages, view past messages.</h2>
		<%= image_tag('/images/tour2.gif') %>
		
	</div>
	<div class="tour-screenshot lined-bottom pb40 mb40">
		<h2 class="big mb30">Forward messages.</h2>
		<%= image_tag('/images/tour3.gif') %>
		
	</div>
	<div class="mt30 pb30 centered">
		<%= link_to('', signup_path, :id => 'signup-button') %>
	</div>
</div>