<% if @group.under_subscription_limit?(current_user) %>
	<%= link_to_function('Add a forwarding rule',
		"$('#new-sub').show(); $('#add-sub-link').hide(); return false;",
		:id => 'add-sub-link') %>
	<div id="new-sub" style="display:none;">
		<%= render 'subscriptions/form' %>
	</div>
<% else %>
	<%= render 'groups/forwarding_limit' %>
<% end %>